<div class="custom-containers">
    <div class="m-5 p-5 rounded contenedor shadow">
        <h4 class="montserrat-bold">¿Quiénes somos?</h4>
        <hr class="mb-5">
        <div class="row">
            <div class="col-6 p-5 contenedor rounded text-light ">
                <h4 class="montserrat-bold  mb-3">Somos alumnos del IES Albarregas</h4>
                <p style="text-align: justify;" class="mb-5">
                    Nos hemos dedicado durante una semana a explorar nuestras posibilidades dentro del mundo de MongoDB y
                    hemos usado para nuestro proyecto los frameworks Angular y Django.
                </p>
                <p><strong>Rubén Sancho Jiménez</strong></p>
                <p><strong>Ismael Sánchez Gragera</strong></p>
                <p><strong>Pedro Lázaro Nevado</strong></p>
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <img src="assets/img/ies_albarregas.png" height="400">
            </div>
        </div>
    </div>
    <div class="m-5 p-5 rounded contenedor shadow">
        <h4 class="montserrat-bold">Estos son los FrameWorks usados</h4>
        <hr class="mb-5">
        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 p-5 d-flex justify-content-center"><img src="assets/img/angular.png" style="width: 400px;"></div>
                    <div class="col-12 p-5 d-flex justify-content-center"><img src="assets/img/django.png" style="width: 400px;"></div>
                    <div class="col-12 p-5 d-flex justify-content-center"><img src="assets/img/node.png" style="width: 400px;"></div>
                </div>
            </div>
            <div class="col-6 p-5 contenedor rounded text-light ">
                <h4 class="montserrat-bold mb-5">Angular + Django + NodeJS</h4>
                <h5><strong>Angular</strong></h5>
                <p style="text-align: justify;" class="mb-5">
                    Con esto framework hemos controlado el front o la experiencia de usuario, creando un entorno visual y atractivo para
                    poder operar de forma visual. En este código se usa HTML, CSS (Bootstrap) y TypeScript para poder ejecutarse.
                </p>
                <h5><strong>Django</strong></h5>
                <p style="text-align: justify;" class="mb-5">
                    En Django se ha realizado una arquitectura por end-points en las que se reciben llamadas del front las procesa en base 
                    a lo que solicita y se llama al servidor que en este caso es MongoDB y devuelve una respuesta. En este framework se usa Python
                    para la lógica.
                </p>
                <h5><strong>NodeJS</strong></h5>
                <p style="text-align: justify;">
                    En nuestro proyecto, Node.js se usa como intermediario para gestionar solicitudes asíncronas entre Angular y Django, optimizando 
                    el flujo de datos entre el cliente y el servidor. Además, Node.js permite realizar tareas de procesamiento en segundo plano y 
                    gestionar conexiones en tiempo real si quieres añadir interactividad dinámica o notificaciones en tiempo real.
                </p>
            </div>
        </div>
    </div>
</div>