<div class="d-flex flex-column flex-shrink-0 bg-light min-height" style="width: 4.5rem;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a routerLink="/home"  routerLinkActive="active" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
        <img src="assets/icons/home.svg" width="24" height="24" alt="home">
      </a>
    </li>
    <li>
      <a routerLink="/contents"  routerLinkActive="active" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Content">
        <img src="assets/icons/book-open-solid.svg" width="24" height="24" alt="Contenido">
      </a>
    </li>
    <li>
      <a routerLink="/teachers"  routerLinkActive="active" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Teachers">
        <img src="assets/icons/chalkboard-user-solid.svg" width="24" height="24" alt="Formadores">
      </a>
    </li>
    <li>
      <a routerLink="/profile"  routerLinkActive="active" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Profile">
        <img src="assets/icons/user-ninja-solid.svg" width="24" height="24" alt="Perfil">
      </a>
    </li>
    <li>
      <a routerLink="/citations"  routerLinkActive="active" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Citations">
        <img src="assets/icons/calendar-days-solid.svg" width="24" height="24" alt="Citas">
      </a>
    </li>
  </ul>
</div>
