<div class="d-flex flex-column flex-shrink-0 contenedor min-height" style="width: 4.5rem;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a routerLink="/home"  routerLinkActive="active" class="nav-link py-3" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
        <img src="assets/icons/home.svg" width="24" height="24" alt="home">
      </a>
    </li>
    <li>
      <a routerLink="/searcher"  routerLinkActive="active" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Content">
        <img src="assets/icons/magnifying-glass-solid.svg" width="24" height="24" alt="buscador">
      </a>
    </li>
    <li>
      <a routerLink="/creator"  routerLinkActive="active" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Teachers">
        <img src="assets/icons/plus-solid.svg" width="24" height="24" alt="creador">
      </a>
    </li>
    <li>
      <a routerLink="/about-that"  routerLinkActive="active" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Teachers">
        <img src="assets/icons/user-ninja-solid.svg" width="24" height="24" alt="about-that">
      </a>
    </li>
  </ul>
</div>