<div class="custom-containers">
    <div class="m-5 p-5 rounded bg-light shadow">
        <h4 class="montserrat-bold">Documentos</h4>
        <hr class="mb-5">
        <div class="row mb-5">
            <!-- Marcas -->
            <div class="col-3">
                <label for="brands" class="form-label">Marcas</label>
                <select class="form-select" [(ngModel)]="selectedBrand">
                    <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
                </select>
            </div>
            <!-- Colores -->
            <div class="col-3">
                <label for="colors" class="form-label">Colores</label>
                <select class="form-select" [(ngModel)]="selectedColor">
                    <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
                </select>
            </div>
            <!-- Disponibilidad -->
            <div class="col-3">
                <label for="availability" class="form-label">Disponibilidad</label>
                <select class="form-select" [(ngModel)]="selectedAvailability">
                    <option *ngFor="let availability of availabilitys" [value]="availability">{{ availability }}</option>
                </select>
            </div>
            <!-- Condición -->
            <div class="col-3">
                <label for="condition" class="form-label">Condición</label>
                <select class="form-select" [(ngModel)]="selectedCondition">
                    <option *ngFor="let condition of conditions" [value]="condition">{{ condition }}</option>
                </select>
            </div>
        </div>
        <div class="row mb-5">
            <!-- Atributo elegido -->
            <div class="col-3">
                <label for="size" class="form-label">Atributo</label>
                <select class="form-select" [(ngModel)]="selectedAttribute">
                    <option *ngFor="let attribute of attributes" [value]="attribute">{{ attribute }}</option>
                </select>
            </div>
            <!-- Valor -->
            <div class="col-9">
                <label for="value" class="form-label">Valor</label>
                <input type="text" class="form-control" [(ngModel)]="value">
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button type="button" class="btn btn-primary me-3" (click)="resetFilters()">Resetear</button>
                <button type="button" class="btn btn-primary" (click)="searchDocuments()">Buscar</button>
            </div>
        </div>
    </div>
    
    <div class="m-5 p-5 rounded bg-light shadow">
        <div class="row">
            <div class="col-8">
                <h5 class="montserrat-bold">Resultado</h5>
            </div>
            <div class="col-4">
                <span class="montserrat-bold">Total de resultados: {{ totalResults }}</span>
            </div>
        </div>
        <hr class="mb-5">
        <div *ngIf="documents">
            <div *ngFor="let doc of documents" class="mb-4">
                <div class="row mb-4 border rounded p-3 shadow-sm bg-light">
                  <!-- Columna izquierda (Nombre, Marca, Condición, Disponibilidad) -->
                  <div class="col-md-4">
                    <h5 class="montserrat-bold">{{ doc.name }}</h5>
                    <p><strong>Marca:</strong> {{ doc.brand }}</p>
                    <p><strong>Condición:</strong> {{ doc.condition }}</p>
                    <p><strong>Disponibilidad:</strong> {{ doc.availability }}</p>
                  </div>
                  
                  <!-- Columna central (Descripción, Precio, Enlace) -->
                  <div class="col-md-4">
                    <p><strong>Precio:</strong> {{ doc.price }} {{ doc.currency }}</p>
                    <a [href]="doc.url" target="_blank" class="btn btn-primary">Ver Producto</a>
                  </div>
                  
                  <!-- Columna vacía (sin imagen) -->
                  <div class="col-md-4">
                    <p><strong>Descripción:</strong> {{ doc.description }}</p>
                  </div>
                </div>
              
                <!-- Botón rojo en la parte inferior derecha -->
                <div class="text-end">
                    <button class="btn btn-primary me-3" (click)="editDocument(doc.id)" data-bs-toggle="modal" data-bs-target="#update-modal"><img src="assets/icons/pencil-solid.svg" width="24" height="24" alt="Formadores"></button>
                    <button class="btn btn-danger" (click)="deleteDocument(doc.id)"><img src="assets/icons/trash-solid.svg" width="24" height="24" alt="Formadores"></button>
                </div>
                
                <!-- Separador -->
                <hr class="my-4">
            </div>
        </div>      
    </div>
</div>

<div class="modal" tabindex="-1" id="update-modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Actualizar documento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="docUpdate">
            <div class="m-5 p-5 rounded bg-light shadow">
                <h4 class="montserrat-bold">Documentos</h4>
                <hr class="mb-5">
                <div class="row mb-5">
                    <!-- Marcas -->
                    <div class="col-3">
                        <label for="brandsUpdate" class="form-label">Marca</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          [(ngModel)]="selectedBrandUpdate" 
                          [placeholder]="docUpdate[0].brand">
                    </div>
                    <!-- Colores -->
                    <div class="col-3">
                        <label for="colorsUpdate" class="form-label">Color</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          [(ngModel)]="selectedColorUpdate" 
                          [placeholder]="docUpdate[0].color">
                    </div>
                    <!-- Disponibilidad -->
                    <div class="col-3">
                        <label for="availabilityUpdate" class="form-label">Disponibilidad</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          [(ngModel)]="selectedAvailabilityUpdate" 
                          [placeholder]="docUpdate[0].availability">
                    </div>
                    <!-- Condición -->
                    <div class="col-3">
                        <label for="conditionUpdate" class="form-label">Condición</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          [(ngModel)]="selectedConditionUpdate" 
                          [placeholder]="docUpdate[0].condition">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-primary me-3" (click)="resetFilters()">Resetear</button>
                    </div>
                </div>
            </div>
            
            <div class="row m-5 border rounded p-3 shadow-sm bg-light">
                <div class="col-md-4">
                  <h5 class="montserrat-bold">{{ docUpdate[0].name }}</h5>
                  <p><strong>Marca:</strong> {{ docUpdate[0].brand }}</p>
                  <p><strong>Condición:</strong> {{ docUpdate[0].condition }}</p>
                  <p><strong>Disponibilidad:</strong> {{ docUpdate[0].availability }}</p>
                </div>
                
                <div class="col-md-4">
                  <p><strong>Precio:</strong> {{ docUpdate[0].price }} {{ docUpdate[0].currency }}</p>
                  <a [href]="docUpdate[0].url" target="_blank" class="btn btn-primary">Ver Producto</a>
                </div>
                
                <div class="col-md-4">
                  <p><strong>Descripción:</strong> {{ docUpdate[0].description }}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="saveChanges(docUpdate[0].id)">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>
