<div class="head-menu bg-light row d-flex align-items-center ps-5 pe-5">
  <div class="col d-flex justify-content-between montserrat-black-italic">
    <span class="rem2">Título del head-menu</span>
  </div>
  <div class="col-auto d-flex justify-content-end">
    <div class="dropdown">
      <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="assets/icons/bars-solid.svg" alt="Menu" width="24" height="24">
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" routerLink="home">
            <img src="assets/icons/right-from-bracket-solid.svg" width="20" height="20"> Inicio
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="profile">
            <img src="assets/icons/user-ninja-solid.svg" width="20" height="20"> Mi perfil
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="citations">
            <img src="assets/icons/calendar-days-solid.svg" width="20" height="20"> Mis cita
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="teachers">
            <img src="assets/icons/plus-solid.svg" width="20" height="20"> Añadir cita
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
